body {
<<<<<<< HEAD
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/783242118360687.6087d2672d11b.jpg);
=======
    background: url(https://images.unsplash.com/photo-1570993492903-ba4c3088f100?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
>>>>>>> 5794fe75906c46d5ccd7ba7515755f0e9910f7df
    background-size: cover;
    background-position: center;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 300px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
